.filter {
    border-right: 1px solid #eaefed;
    .header {
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0;

        display: flex !important;
        align-items: center;
        justify-content: space-around;

        word-wrap: break-word;
        white-space: nowrap;
        padding: 6px 10px;

        line-height: 20px;
        color: #0b90ff;

        &:after {
            left: 50%;
            width: 18px;
            bottom: 0px;
            height: 2px;
            content: "";
            display: block;
            position: absolute;
            transform: translate(-50%, 0);
            background: #0b90ff;
            border-radius: 1px;
        }
    }
}

.market {
    margin: 0;
    user-select: none;
    position: relative;
    padding: 0 10px 20px;

    &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        border-color: #e7eaef;
        border-style: solid;
        border-width: 0;
        pointer-events: none;
        border-color: #e7eaef;
        border-bottom-width: 0.5px;
        border-top-width: 0.5px;
    }
}

.filterTitle {
    color: #09132c;
    display: flex;
    padding: 20px 0 10px;
    font-size: 16px;
    text-align: left;
    align-items: center;
    letter-spacing: 0.58px;
    justify-content: space-between;
}

.inputContainer {
    width: 100%;
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.inputTitle {
    font-size: 15px;
    margin: 0;
    padding: 0;
    flex: 0 0 120px;
    color: rgba(9, 19, 44, 0.7);
    height: 30px;
}

.dropdown {
    width: 100%;

    [class~="ant-select"] {
        width: 100%;
    }
}
